body {
  margin: 0;
  background-color: #151619;
}
.main-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #a6a8a8;
  gap: 10px;
}

.main-wrapper > span {
  font-size: 22px;
  font-weight: 600;
}
